<div class="ui raised card theme-background">
	<div class="content">
		<h3 class="ui block header coin-header coin-header-white">
			{{#thumbnail}}<img class="tiny ui image" src="{{thumbnail}}">{{/thumbnail}}
			{{{title}}}
		</h3>
		{{{social-networks}}}
		<p>{{{content}}}</p>
	</div>
</div>
