<div class="wpsc-coin-view coin">

	{{{msg-box}}}

	{{{view-metamask}}}

	<div class="full-grey">
		<div class="ui two stackable cards full-grey-inner">

			{{{coin-view-brand}}}

			{{{coin-view-token}}}

		</div>
	</div>


	{{{coin-view-addresses}}}

	{{{coin-view-wallet}}}

	{{{coin-view-dex}}}

	{{{coin-view-block-explorer}}}

	{{{coin-view-audit}}}


</div>
