<div class="wpsc-coin-view page-wrapper coin-section">

	<div class="page-wrapper page-inner">

	{{{msg-box}}}

	{{{view-metamask}}}

	<div class="ui two stackable cards padding-section">

		{{{coin-view-brand}}}

		{{{coin-view-token}}}

	</div>

	{{{coin-view-addresses}}}

	{{{coin-view-wallet}}}

	{{{coin-view-dex}}}

	{{{coin-view-block-explorer}}}

	{{{coin-view-audit}}}

	<div class="ui hidden divider"></div>

	</div>

</div>
