{{#contract-exists}}

	<div class="full-width-dark block-explore-margin">
		<div class="wrapper-inner">

			<input type="hidden" id="wpsc-decimals" value="{{decimals}}">
			<input type="hidden" id="wpsc-block-explorer-contract" value="{{contract}}">
			<input type="hidden" id="wpsc-block-explorer-network" value="{{network}}">
			<input type="hidden" id="wpsc-tx-type" value="normal">

			<div class="ui raised aligned segment no-card block-explore no-bg-card" id="wpsc-block-explorer-txlist">

				<h3 class="ui block header left aligned black-header white-header">
					<i class="globe icon"></i> 
					{{{block-explorer}}}
				</h3>

				{{#xdai}}
					<div class="ui raised center aligned segment" id="wpsc-wallet" style="">
						<a href="{{xdai_block_explorer}}" target="_blank" class="ui huge button">
							<i class="external alternate icon"></i>
							{{{xdai_block_explorer_label}}}
						</a>
					</div>
				{{/xdai}}

				{{^xdai}}

				<div class="ui hidden divider"></div>
				<div class="ui fluid search focus">
					<div class="ui icon fluid input search-container">
						<input type="text" placeholder="{{{search-placeholder}}}" class="search-box" id="wpsc-block-explorer-search" data-domain="{{domain}}" autocomplete="off">
						<div class="search-divider"></div>
						<i class="search link icon"></i>
					</div>
					<div id="wpsc-block-explorer-search-error"></div>
				</div>

				<h4 id="wpsc-filter-exp" class="ui header"></h4>

				<div id="wpsc_account_balance"></div>

				<div id="wpsc_account_roles"></div>

				<div class="ui two item stackable tabs menu">
					<a id="wpsc-txs-button" class="item" data-tab="txs">{{{transactions}}}</a>
					<a id="wpsc-internal-txs-button" class="item" data-tab="internal">{{{internal-transactions}}}</a>
				</div>

				<div class="ui stackable grid large screen only table-headers">
					<div class="sixteen wide computer five wide large screen column five wide widescreen column">
						<h6 class="ui block header left aligned">
							<i class="user icon"></i>
							<div class="content">
								{{{from}}}
							</div>
						</h6>
					</div>
					<div class="sixteen wide computer five wide large screen column five wide widescreen column">
						<h6 class="ui block header left aligned">
							<i class="user icon"></i>
							<div class="content">
								{{{to}}}
							</div>
						</h6>
					</div>
					<div class="sixteen wide computer six wide large screen column six wide widescreen column ammount-header">
						<h6 class="ui block header left aligned">
							<i class="database icon"></i>
							<div class="content">
								{{{amount_tx}}}
							</div>
						</h6>
					</div>
				</div>

				<div class="ui stackable grid theTable" id="wpsc-block-explorer-rows"></div>
				
				<div id="wpsc-block-explorer-nav-buttons">
					<div class="ui divider"></div>
					<button class="ui left floated icon button pagination the-btn" id="wpscBlockExplorerPrevious">
						<i class="left chevron icon"></i>
					</button>
					<button class="ui right floated right icon button hidden pagination the-btn" id="wpscBlockExplorerNext">
						<i class="right chevron icon"></i>
					</button>			
				</div>

				<p>&nbsp;</p>
				<a class="ui bottom left attached label pagination-number">
					{{{page}}}
					<span id="wpsc-from-to"></span>
				</a>
				<a class="ui bottom right attached label supply">{{{total_supply}}} <span id="wpsc_total_supply">-</span> {{symbol}}</a>

				{{/xdai}}

			</div>
		</div>
	</div>

{{/contract-exists}}
