<div class="ui raised segment grey-card">
	<div class="content">
		<h3 class="ui block header white-header">
			{{#thumbnail}}<img class="tiny ui image" src="{{thumbnail}}">{{/thumbnail}}
			{{{title}}}
			<img class="tiny ui circular right floated image" src="{{blockie}}">
		</h3>
		<p class="max-width-content">{{{content}}}</p>
		<div class="">
				<div class="ui center aligned button-container">
					<span class="ui {{color}} image mini label">
						<i class="{{icon}} icon"></i>
						{{ethereum-network}} 
					</span>
					{{{crowd-info}}}
				</div>
					
			</div>
	</div>
</div>