<div class="wpsc-crowd-view page-wrapper crowd-section">

<div class="page-wrapper page-inner">

	{{{msg-box}}}

	{{{view-metamask}}}

	<div class="padding-section">

		{{{crowd-view-brand}}}

	</div>

	<div class="ui hidden divider"></div>

	{{{crowd-view-panel}}}

	{{{crowd-view-addresses}}}

	{{{crowd-view-audit}}}

	<div class="ui hidden divider"></div>

	</div>

</div>
