    <!-- Tags -->

    <div class="ui basic segment">
        <div class="ui labels">
            {{#cats}}
            <span class="ui label" style="background-color: {{wpsc_cat_bg_color}}; color: {{wpsc_cat_color}};">{{{name}}}</span>
            {{/cats}}
        </div>
    </div>

