    <!-- Tags -->

    <div class="ui basic segment">
        <div class="ui labels">
            {{#tags}}
            <span class="ui label" style="background-color: {{wpsc_tag_bg_color}}; color: {{wpsc_tag_color}};">{{{name}}}</span>
            {{/tags}}
        </div>
    </div>

