<div class="ui raised segment">    
    <div class="ui image label">
        <img src="{{user_blockie}}">
        <i class="ui user icon"></i> 
        <a href="{{user_link}}" target="_blank">{{user_short}}</a>
        <div class="detail">
            <a href="{{tx_link}}" target="_blank">TxId {{tx_short}}</a>
        </div>
    </div>
    <span class="ui top right attached label">
        {{label}}
    </span>
</div>
