<div class="ui basic container segment wpsc-coin-view coin-section">

	{{{msg-box}}}

	{{{view-metamask}}}

	<div class="ui two stackable cards purple-box">

		{{{coin-view-brand}}}

		<div class="desktop-divider"></div>

		{{{coin-view-token}}}

	</div>

	{{{coin-view-addresses}}}

	{{{coin-view-wallet}}}

	{{{coin-view-dex}}}

	{{{coin-view-block-explorer}}}

	{{{coin-view-audit}}}

	<div class="ui hidden divider"></div>

</div>
