<div class="content">
    <div class="header">
       Transaction in progress
    </div>
    <p class="wpsc-small">
       <img class="ui mini left floated image" src="{{animated-gif}}">
       If you agree and wish to proceed, please click "CONFIRM" transaction in your wallet, otherwise click "REJECT". Please be patient. It can take several minutes. Don't close or reload this window.
    </p>
 </div>
