<div id="content" class="site-content">
    <div class="ui basic container segment wpsc-ico-view">

    <input type="hidden" id="wpsc-nft-network" name="wpsc-nft-network" value="{{wpsc-nft-network}}">

    {{{view-metamask}}}

    {{{nft-view}}}

    {{{nft-view-audit}}}

    <p>&nbsp;</p>
    <h4>Contract information</h4>
    
    <ul>
        <li>List Items</li>
        <li><a href="http://localhost/wpsc/nft-taxonomy/creatures/">Categories</a></li>
        <li><a href="http://localhost/wpsc/nft-tag/tall/">Tags</a></li>
    </ul>
        
    </div>
</div>
