<img id="wpsc-add-to-metamask" src="{{fox}}" class="ui mini image" data-address="{{contract-address}}" data-symbol="{{{token-symbol}}}" data-name="{{{token-name}}}" title="{{add-token-metamask}}" data-network="{{network}}">