{{#contract-exists}}
	<div class="ui raised center aligned segment">

		<h3 class="ui block header left aligned">
			<i class="handshake outline icon"></i>
			{{{dex}}}
		</h3>

	</div>
{{/contract-exists}}
