<div class="ui image large label">
    <img src="{{blockie}}">
	<a href="{{etherscan}}token/{{contract}}?a={{id}}" target="_blank">
        #{{id}} <i class="external alternate icon"></i>
    </a>
</div>



