<span class="ui {{color}} image {{size}} label">
  <img src="{{imgUrl}}{{type}}.png">
  <span class="wpsc-capitalize">{{type}}</span>
</span>

<span class="ui  {{color}} image {{size}} label">
    <i class="ethereum icon"></i>
    {{{token2sell_label}}} <div class="detail">{{token2sell}}</div>
</span>

<span class="ui  {{color}} image {{size}} label">
    <i class="percent icon"></i>
    {{{rate_label}}} <div class="detail">{{rate}}</div>
</span>

<span class="ui  {{color}} image {{size}} label">
    <i class="ethereum icon"></i>
    {{{wallet_label}}} <div class="detail">{{wallet}}</div>
</span>

<span class="ui  {{color}} image {{size}} label">
    <i class="ethereum icon"></i>
    {{{dist_wallet_label}}} <div class="detail">{{dist_wallet}}</div>
</span>
