<div class="wps-description-box-out-border wps-description-box-out-border-bottom">
    <div class="wps-description-box">
        {{#icon}}
            <img src="{{icon}}" class="wps-big-icon">
        {{/icon}}
        <h2 class="wps-box-heading">{{text-smart-contracts}}</h2>
        <div class="wps-description-box-col">
            <p class="wps-box-description">{{text-smart-contracts-description}}</p>
            <a href="{{text-cta-link}}" class="wps-cta">
                {{text-cta}}
                <img src="{{path-to-launcher}}/img/right-arrow-white.png" class="wps-arrow">
            </a>
        </div>
    </div>
</div>
