<div class="ui info compact message wpsc-spacing wpsc-centering">
    <span class="ui blue ribbon label">{{{need-help}}}</span>
    <div class="ui divider"></div>
    <div class="header">
        <div class="sub header">{{{need-help-desc}}}</div>
    </div>

    <div class="ui ordered list">
        <span class="item">Load Metamask with the desired Ethereum network (mainnet or testnet)</span>
        <span class="item">Fund your account in the desired network</span>
        <span class="item">Fill all the attributes of your contract (name, symbol, options)</span>
        <span class="item">Click Deploy</span>
        <span class="item">If you agree, accept the terms and click deploy</span>
        <span class="item">Confirm you transaction in Metamask</span>
        <i class="external alternate icon"></i> <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">Learn more</a>
    </div>

    <div class="ui divider"></div>
    <div class="header">
        <div class="sub header">{{{need-help-desc2}}}</div>
    </div>
    <p>The following steps are for Binance Smart Chain Testnet, but the steps to follow are very similar to mainnets and other blockchains</p>
    <div class="ui ordered list">
        <span class="item">Fill all the attributes of your contract (name, symbol, options)</span>
        <span class="item">Connect with Metamask</span>
        <span class="item">Switch to the desired blockchain</span>
        <span class="item">Confirm the network switch in Metamask</span>
        <span class="item">Load your Metamask with needed funds for the selected Blockchain</span>
        <span class="item">Click Deploy</span>
        <span class="item">If you agree, accept the terms and click deploy</span>
        <span class="item">Confirm you transaction in Metamask</span>
        <i class="external alternate icon"></i> <a href="https://wpsmartcontracts.com/docs/doc-item.php" target="_blank">Learn more</a>
    </div>

    <div class="ui divider"></div>

    <span class="ui blue ribbon label">Still have questions?</span>
    <p>
        <i class="external alternate icon"></i>
        <a href="https://wpsmartcontracts.com/contact-us/" target="_blank">Get in touch with a human being</a>
    </p>
    
</div>

