<div class="wpsc">
  <div class="ui inverted segment">
    <h1 class="ui header">
      <img class="ui image huge floated left" src="{{white-logo}}">
      {{{tutorials-tools}}}
    </h1>
    <p>{{{tutorials-tools-desc}}}</p>
  </div>

  <div class="ui secondary segment">
    <h3 class="ui dividing header">
      <i class="book icon"></i>
      {{documentation}}
    </h3>

    <h4 class="ui dividing header">
      {{{deploy}}}
    </h4>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-mochi.php" target="_blank">
        Mochi ERC-721 NFT Standard
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">
        Matcha ERC-721 NFT Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-suika.php" target="_blank">
        Suika ERC-721 Advanced NFT Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-yuzu.php" target="_blank">
        Yuzu ERC-1155 Multitoken Standard
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-erc1155-azuki.php" target="_blank">
        Azuki ERC-1155 Advanced Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-erc1155-ikasumi.php" target="_blank">
        Ikasumi ERC-1155 Advanced Token Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-item.php" target="_blank">
        NFT Items
      </a>
    </p>
  </div>

  <div class="ui divider"></div>

  <a href="https://wpsmartcontracts.com" target="_blank">
    <img class="ui medium centered image" src="{{wpsc-logo}}">
  </a>
  <div class="ui divider"></div>
  <p>If you enjoy WP Smart Contracts plugin give us a <a href="https://wordpress.org/support/plugin/wp-smart-contracts/reviews/#new-post" target="_blank">5 stars review</a> Thanks in advance!</p>
</div>
