<div class="ui secondary teal inverted segment">
  <h3 class="ui block header" style="color: black;">
    {{{title}}}
  </h3>
  <img src="{{blockchain_img}}" class="ui image">
  <p>{{{description_1}}}</p>
  <p>{{{description_2}}}</p>
  <div class="ui inverted tiny list">
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_1}}}</div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">
          <a href="https://wpsmartcontracts.com/docs/doc-blockchain-xdai.php" target="_blank">
            {{{feature_2}}}
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <a href="https://wpsmartcontracts.com/docs/doc-blockchain-bsc.php" target="_blank">
          {{{feature_3}}}
        </a>
    </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <a href="https://wpsmartcontracts.com/docs/doc-blockchain-matic.php" target="_blank">
          {{{feature_4}}}
        </a>
      </div>
    </div>
    <p>{{{feature_5}}}</p>
  </div>

  <a href="https://wpsmartcontracts.com/layer-2/" target="_blank" class="ui labeled mini button" tabindex="0">
    <div class="ui blue mini button">
      <i class="circle icon"></i>{{{learn}}}
    </div>
  </a>
</div>
