<div class="wpsc">
  <div class="ui inverted segment">
    <h1 class="ui header">
      <img class="ui image huge floated left" src="{{white-logo}}">
      {{{tutorials-tools}}}
    </h1>
    <p>{{{tutorials-tools-desc}}}</p>
  </div>

  <div class="ui secondary segment">
    <h3 class="ui dividing header">
      <i class="book icon"></i>
      {{documentation}}
    </h3>

    <h4 class="ui dividing header">
      {{{deploy}}}
    </h4>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">
        {{nft-marketplace}}
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-item.php" target="_blank">
        {{nft-items}}
      </a>
    </p>
  </div>

  <div class="ui divider"></div>

  <a href="https://wpsmartcontracts.com" target="_blank">
    <img class="ui medium centered image" src="{{wpsc-logo}}">
  </a>
  <div class="ui divider"></div>
  <p>If you enjoy WP Smart Contracts plugin give us a <a href="https://wordpress.org/support/plugin/wp-smart-contracts/reviews/#new-post" target="_blank">5 stars review</a> Thanks in advance!</p>
</div>
