          <input id="tmpTx" type="hidden">
          <input id="tmpNewNft" type="hidden">
          <input id="tmpDefAcc" type="hidden">
          <input id="tmpNetVer" type="hidden">

          <input id="wpsc-name" name="wpsc-name" type="hidden" value="{{wpsc_name}}">
          <input id="wpsc-symbol" name="wpsc-symbol" type="hidden" value="{{wpsc_symbol}}">
          <input id="wpsc-decimals" name="wpsc-decimals" type="hidden" value="{{wpsc_decimals}}">

          <input type="hidden" id="wpsc-name2"      name="wpsc-name2"     value="{{wpsc_name2}}">
          <input type="hidden" id="wpsc-symbol2"    name="wpsc-symbol2"   value="{{wpsc_symbol2}}">
          <input type="hidden" id="wpsc-decimals2"  name="wpsc-decimals2" value="{{wpsc_decimals2}}">
      
          <div class="wpsc">
            <input type="hidden" id="wpsc-change">
            {{#readonly}}
              <input type="hidden" name="wpsc-readonly" value="true">
              <input type="hidden" name="wpsc-readonly-stake" value="true">
              {{{ico-info}}}
            {{/readonly}}
            <div class="ui inverted segment">
              <div class="ui inverted segment">
                <h1 class="ui header">
                  <i class="settings icon"></i>
                  {{{nft-spec}}}
                </h1>
                <a class="ui grey button right floated" href="https://wpsmartcontracts.com/docs/" target="_blank">
                  {{{learn-more}}}
                </a>
                <p>{{{nft-spec-desc}}}</p>
              </div>
            </div>
            <div class="ui secondary segment">
              <div class="grouped fields">
                <h3 class="ui dividing header">{{{flavor}}}</h3>
                <div class="ui stackable two column grid">
                  <div class="column">
                    <div class="ui raised segment">
                      <img class="ui medium rounded image" src="{{{img-grape}}}">
                      <h3 class="ui dividing header">{{{nft-marketplace-auction}}}</h3>
                      <p>{{{nft-marketplace-auction-desc}}}</p>
                      <h5 class="ui dividing header">{{{features}}}</h5>
                      <p>
                        <i class="check icon"></i>
                        {{{ownable-nft}}}
                        <span class="ui icon" data-tooltip="{{{ownable-nft-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <p>
                        <i class="check icon"></i>
                        {{{transferable-nft}}}
                        <span class="ui icon" data-tooltip="{{{transferable-nft-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <p>
                        <i class="check icon"></i>
                        {{{nft-mintable}}}
                        <span class="ui icon" data-tooltip="{{{nft-mintable-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <div class="ui fitted toggle checkbox">
                        <input tabindex="0" type="radio" name="wpsc-flavor" id="wpsc-ube" class="wpsc-radio-staking" value="ube"
                          {{{wpsc-flavor}}}
                          {{#is_ube}}checked="checked"{{/is_ube}}
                          {{#readonly}}readonly disabled="disabled"{{/readonly}}
                        >
                        <label></label>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img class="ui medium rounded image" src="{{{img-almond}}}">
                      <h3 class="ui dividing header">{{{adv-stakes-title}}}</h3>
                      <p>{{{adv-stakes-title-desc}}}</p>
                      <h5 class="ui dividing header">{{{features}}}</h5>
                      <p>
                        <i class="check icon"></i>
                        {{{ownable-nft}}}
                        <span class="ui icon" data-tooltip="{{{ownable-nft-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <p>
                        <i class="check icon"></i>
                        {{{transferable-nft}}}
                        <span class="ui icon" data-tooltip="{{{transferable-nft-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <p>
                        <i class="check icon"></i>
                        {{{nft-mintable}}}
                        <span class="ui icon" data-tooltip="{{{nft-mintable-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <p>
                        <i class="check icon"></i>
                        {{{adv-stake-multiple-tokens}}}
                        <span class="ui icon" data-tooltip="{{{adv-stake-multiple-tokens-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </p>
                      <div class="ui fitted toggle checkbox">
                        <input tabindex="0" type="radio" name="wpsc-flavor" id="wpsc-almond" class="wpsc-radio-staking" value="almond"
                          {{{wpsc-flavor}}}
                          {{#is_almond}}checked="checked"{{/is_almond}}
                          {{#readonly}}readonly disabled="disabled"{{/readonly}}
                        >
                        <label></label>
                      </div>
                    </div>
                  </div>
                  <div class="column" id="wpsc-flavor-last-column">
                    <div class="ui raised segment">
                      <h3 class="ui dividing header">{{{erc-20-custom}}}</h3>
                      <p>{{{custom-message}}}</p>
                      <p><a href="https://wpsmartcontracts.com/contact-us" target="_blank" class="ui blue button">{{{contact-us}}}</a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            
            <div class="ui secondary segment">
              <h3 class="ui dividing header">
                {{{stake-options}}}
                <div class="sub header">
                  {{{stake-options-desc}}}
                </div>
              </h3>
              
              <div class="ui warning message">
                <div class="header">
                  {{warning}}
                </div>
                <div class="ui bulleted list">
                  <div class="item">{{warning-1}}</div>
                  <div class="item">{{warning-2}}</div>
                  <div class="item">{{warning-3}}</div>
                </div>
              </div>

              <div class="ui stackable two column grid">

                  <div class="column">
                    <h4 class="ui header">
                        {{{token}}}
                        <div class="sub header">
                        {{{token-desc}}}
                        <span class="ui icon" data-tooltip="{{{token-desc-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                      </div>
                    </h4>
                    <div class="ui fluid icon input" id="wpsc-token-div">
                      <input name="wpsc-token-before" type="hidden" value="{{{wpsc_token}}}" readonly>
                      <input name="wpsc-token" type="text" value="{{{wpsc_token}}}" {{#readonly}}{{#is_ube}}readonly{{/is_ube}}{{/readonly}}>
                      <i class="ethereum icon"></i>
                    </div>
                  </div>

                  <div class="column is-almond" {{#is_ube}}style="display:none"{{/is_ube}}">
                    <h4 class="ui header">
                        {{secondary-token}}
                        <div class="sub header">
                          {{erc-20-or-bep-20}}
                          <span class="ui icon" data-tooltip="Your users can stake the first token and get interest in the first token (optional) and interest in the second token"></i>
                            <i class="small help icon circular"></i>
                          </span>
                        </div>
                    </h4>
                    <div class="ui fluid icon input" id="wpsc-token2-div">
                      <input name="wpsc-token2-before" type="hidden" value="{{{wpsc_token2}}}">
                      <input name="wpsc-token2" type="text" value="{{{wpsc_token2}}}">
                    </div>
                  </div>

                  <div class="column">
                    <h4 class="ui header">
                        {{apy-staking-token}}
                        <div id="label-ube" class="sub header is-ube" {{#is_almond}}style="display:none"{{/is_almond}}>
                          {{apy1}} Annual interest rate for the first token
                          <span class="ui icon" data-tooltip="Annual Interest Rate for the token stake"></i>
                            <i class="small help icon circular"></i>
                          </span>  
                        </div>
                        <div id="label-almond" class="sub header is-almond" {{#is_ube}}style="display:none"{{/is_ube}}>
                          {{apy1-optional}}
                          <span class="ui icon" data-tooltip="You can offer an annual interest rate in both or in one of the tokens"></i>
                            <i class="small help icon circular"></i>
                          </span>  
                        </div>
                    </h4>
                    <div class="ui fluid icon input" id="wpsc-apy-div">
                      <input name="wpsc-apy-before" type="hidden" value="{{{wpsc_apy}}}">
                      <input name="wpsc-apy" type="text" value="{{{wpsc_apy}}}">
                    </div>
                  </div>

                  <div class="column is-almond" {{#is_ube}}style="display:none"{{/is_ube}}>
                    <h4 class="ui header">
                      {{apy-staking-token-2}} APY Secondary Token
                      <div class="sub header">
                        {{apy2}} Annual interest rate for the second token
                        <span class="ui icon" data-tooltip="You can offer an annual interest rate in both or in one of the tokens"></i>
                          <i class="small help icon circular"></i>
                        </span>  
                      </div>
                    </h4>
                    <div class="ui fluid icon input" id="wpsc-apy2-div">
                      <input name="wpsc-apy2-before" type="hidden" value="{{{wpsc_apy2}}}">
                      <input name="wpsc-apy2" type="text" value="{{{wpsc_apy2}}}">
                    </div>
                  </div>

                  <input name="wpsc-ratio1-before" type="hidden" value="1">
                  <input name="wpsc-ratio1" type="hidden" value="1"> 
                  <input name="wpsc-ratio2-before" type="hidden" value="1">
                  <input name="wpsc-ratio2" type="hidden" value="1">
                  <div class="column">
                    <h4 class="ui header">
                        {{{mst}}}
                        <div class="sub header">
                        {{{mst-desc}}}
                        <span class="ui icon" data-tooltip="{{{mst-desc-tooltip}}}"></i>
                          <i class="small help icon circular"></i>
                        </span>
                        </div>
                    </h4>
                    <div class="ui fluid icon input" id="wpsc-mst-div">

                      <input name="wpsc-mst-before" type="hidden" value="{{{wpsc_mst}}}">
                      <input name="wpsc-mst" type="text" value="{{{wpsc_mst}}}">

                      <i class="hourglass start icon"></i>
                    </div>
                  </div>

                <div class="column">
                  <h4 class="ui header">
                      {{{penalty}}}
                      <div class="sub header">
                      {{{penalty-desc}}}
                      <span class="ui icon" data-tooltip="{{{penalty-desc-tooltip}}}"></i>
                        <i class="small help icon circular"></i>
                      </span>
                      </div>
                  </h4>
                  <div class="ui fluid icon input" id="wpsc-penalty-div">
                    <input name="wpsc-penalty-before" type="hidden" value="{{{wpsc_penalty}}}">
                    <input name="wpsc-penalty" type="text" value="{{{wpsc_penalty}}}">
                    <i class="percent icon"></i>
                  </div>
                </div>

                <div class="column">
                  <h4 class="ui header">
                      {{{minimum}}}
                      <div class="sub header">
                      {{{minimum-desc}}}
                      </div>
                  </h4>
                  <div class="ui fluid icon input" id="wpsc-minimum-div">
                    <input name="wpsc-minimum-before" type="hidden" value="{{{wpsc_minimum}}}">
                    <input name="wpsc-minimum" type="text" value="{{{wpsc_minimum}}}">
                    <i class="hand lizard outline icon"></i>
                  </div>
                </div>

              </div>
            </div>

          </div>

<div id="wpsc-update-modal" class="ui modal">
  <div class="ui inverted segment">
    <div class="ui center aligned icon header">
      <div class="ui big image">
        <img src="http://localhost/wpsc/wp-content/plugins/wp-smart-contracts/assets/img/deploy-identicon.gif">
      </div>
      <div class="ui divider"></div>
      <div class="ui sub header" style="color: white;">{{smart-contract-update}}</div>
      <div class="ui divider"></div>
      <p>{{smart-contract-update-1}}</p>
      <p>{{smart-contract-update-2}}</p>
    </div>
  </div>
</div>