<div class="wps-full-wrapper wps-main-wrapper" style="max-width: 600px!important; margin: auto; margin-top: 50px;">
	<div id="wpsc-msg-box-{{n}}" class="ui {{type}} {{extra}} message transition" style="text-align: center;width: 100%;">
		<div class="ui {{#icon}}icon{{/icon}} header">
			{{#icon}}<i class="{{icon}} icon"></i>{{/icon}}
			<h2 class="wps-box-heading">{{{title}}}</h2>
		</div>
		<p>{{{msg}}}</p>
	</div>
</div>