<tr>
    <td class="two wide wpsc-table-row">
        <h4 class="ui image header">
            <img src="{{blockie}}" class="ui mini avatar image">
        </h4>
    </td>
    <td class="wpsc-table-row">
        <h4 class="ui image header">
            <div class="content">
                <div class="sub header">
                    <a href="{{etherscan}}" target="_blank">{{account_short}}</a>
                    <i class="copy icon" onclick="copyToClipboard('{{account}}', 'copy-row-wpsc-{{span}}')"></i>
                    <span id="copy-row-wpsc-{{span}}"></span>
                </div>
            </div>
        </h4>
    </td>
    <td class="wpsc-table-row">
        {{n}}
    </td>
</tr>
