<div class="content">
    <div class="header">
      {{transaction-in-progress}}
    </div>
    <p class="wpsc-small">
       <img class="ui mini left floated image" src="{{animated-gif}}">
       {{if-you-agree}}
    </p>
 </div>
