<div>
    <p><strong>{{email-registration}}</strong></label>
    <p class="wpsc-small">{{register-with-your-email}}</p>
    <p>
        <input id="wpsc_input_email_account" type="text" placeholder="{{write-your-email-address}}" onchange="wpsc_check_email();">
    </p>
</div>
