                <h3 class="ui dividing header">
                  {{skins}}
                  <div class="sub header">
                    {{select-the-ui}}
                  </div>
                </h3>
                <input type="hidden" id="wpsc_skin_hidden" name="etherscan_api_key_option[wpsc-skin]" value="{{wpsc-skin}}">                
                <div class="ui stackable {{n}} column grid">
                  <div class="column">
                    <div class="ui raised segment">
                        <img src="{{blue}}" class="ui centered image medium">
                       <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20" {{#wpsc_skin_4}}checked="checked"{{/wpsc_skin_4}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Blue
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{red}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20red" {{#wpsc_skin_5}}checked="checked"{{/wpsc_skin_5}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Red
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{green}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20green" {{#wpsc_skin_6}}checked="checked"{{/wpsc_skin_6}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Green
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{purple}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20purple" {{#wpsc_skin_8}}checked="checked"{{/wpsc_skin_8}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Purple
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{pink}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20pink" {{#wpsc_skin_9}}checked="checked"{{/wpsc_skin_9}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Pink
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{orange}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20orange" {{#wpsc_skin_10}}checked="checked"{{/wpsc_skin_10}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Orange
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{cream}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20cream" {{#wpsc_skin_11}}checked="checked"{{/wpsc_skin_11}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Cream
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{dark2}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20black" {{#wpsc_skin_7}}checked="checked"{{/wpsc_skin_7}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Dark
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{white}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20white" {{#wpsc_skin_12}}checked="checked"{{/wpsc_skin_12}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Light
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{white2}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20white2" {{#wpsc_skin_13}}checked="checked"{{/wpsc_skin_13}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Light Blue
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{white3}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20white3" {{#wpsc_skin_14}}checked="checked"{{/wpsc_skin_14}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Light Green
                       </h3>
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{white4}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-20" class="wpsc-radio-ico" value="20white4" {{#wpsc_skin_15}}checked="checked"{{/wpsc_skin_15}}>
                             <label></label>
                          </div>
                          <br>
                          2.0 Light Purple
                       </h3>
                    </div>
                  </div>

                  </div>
                  <h3 class="ui dividing header">
                    {{legacyskins}}
                    <div class="sub header">
                      {{if-selected}}
                    </div>
                  </h3>
                  <div class="ui stackable {{n}} column grid">
                  <div class="column">
                     <div class="ui raised segment">
                      <img src="{{light1}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                           <div class="ui fitted toggle checkbox">
                              <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-light1" class="wpsc-radio-ico" value="light1" {{#wpsc_skin_1}}checked="checked"{{/wpsc_skin_1}}>
                              <label></label>
                           </div>
                           <br>Light 1
                        </h3>
                     </div>
                  </div>
                  <div class="column">
                     <div class="ui raised segment">
                      <img src="{{light2}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                           <div class="ui fitted toggle checkbox">
                              <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-light2" class="wpsc-radio-ico" value="light2" {{#wpsc_skin_2}}checked="checked"{{/wpsc_skin_2}}>
                              <label></label>
                           </div>
                           <br>
                           Light 2
                        </h3>
                     </div>
                  </div>
                  <div class="column">
                     <div class="ui raised segment">
                      <img src="{{dark}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                           <div class="ui fitted toggle checkbox">
                              <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-dark" class="wpsc-radio-ico" value="dark" {{#wpsc_skin_3}}checked="checked"{{/wpsc_skin_3}}>
                              <label></label>
                           </div>
                           <br>
                           Dark
                        </h3>
                     </div>
                  </div>
                  <div class="column">
                    <div class="ui raised segment">
                      <img src="{{default}}" class="ui centered image medium">
                      <h3 class="ui centered header">
                          <div class="ui fitted toggle checkbox">
                             <input tabindex="0" type="radio" name="wpsc_skin_radio" id="wpsc-default" class="wpsc-radio-ico" value="default" {{#wpsc_skin_0}}checked="checked"{{/wpsc_skin_0}}>
                             <label></label>
                          </div>
                          <br>
                          1.0
                       </h3>
                    </div>
                 </div>
                </div>
