<span class="ui {{color}} image {{size}} label">
  <img src="{{imgUrl}}{{type}}.png">
  <span class="wpsc-capitalize">{{type}}</span>
</span>

<span class="ui {{color}} image {{size}} label">
    <i class="ethereum icon"></i>
    {{{token_label}}} <div class="detail">{{wpsc_token}}</div>
</span>

{{#is_almond}}
    {{#wpsc_token2}}
    <span class="ui {{color}} image {{size}} label">
        <i class="ethereum icon"></i>
        Interest token <div class="detail">{{wpsc_token2}}</div>
    </span>
    {{/wpsc_token2}}
{{/is_almond}}

<span class="ui {{color}} image {{size}} label">
    <i class="percent icon"></i>
    {{{apy_label}}} <div class="detail">{{wpsc_apy}}</div>
</span>

{{#is_almond}}
    {{#wpsc_apy2}}
    <span class="ui {{color}} image {{size}} label">
        <i class="percent icon"></i>
        Secondary token APY <div class="detail">{{wpsc_apy2}}</div>
    </span>
    {{/wpsc_apy2}}
{{/is_almond}}

{{#wpsc_ratio1}}
{{#wpsc_ratio2}}

{{/wpsc_ratio2}}
{{/wpsc_ratio1}}

<span class="ui {{color}} image {{size}} label">
    <i class="hourglass start icon"></i>
    {{{mst_label}}} <div class="detail">{{wpsc_mst}}</div>
</span>

<span class="ui {{color}} image {{size}} label">
    <i class="percent icon"></i>
    {{{penalty_label}}} <div class="detail">{{wpsc_penalty}}</div>
</span>

<span class="ui {{color}} image {{size}} label">
    <i class="hand lizard outline icon"></i>
    {{{minimum_label}}} <div class="detail">{{wpsc_minimum}}</div>
</span>

