<p class="wps-centered">{{banner-wizard-subtitle}}</p>
<div class="wps-step-nav">

    <div class="wps-step-nav-col wps-step-nav-one wps-step-nav-updated wps-hide-mobile">
        <div class="wps-step-icon">1</div>
        <h2 class="wps-step-heading">{{what}}</h2>
        <p class="wps-step-desc" style="font-size: 16px;">{{step1-selected}}</p>
    </div>

    <div class="wps-step-nav-col wps-step-nav-two wps-step-nav-active wps-center-mobile">
        <div class="wps-step-icon">2</div>
        <h2 class="wps-step-heading">{{how}}</h2>
        <p class="wps-step-desc">{{choose-flavor}}</p>
    </div>

    <div class="wps-step-nav-col wps-step-nav-two wps-hide-mobile">
        <div class="wps-step-icon">3</div>
        <h2 class="wps-step-heading">{{where}} <span class="wps-step-edit"></h2>
        <p class="wps-step-desc">{{choose-network}}</p>
    </div>

    <div class="wps-step-nav-col wps-step-nav-three wps-hide-mobile">
        <div class="wps-step-icon">4</div>
        <h2 class="wps-step-heading">{{deploy}} <span class="wps-step-edit"></h2>
        <p class="wps-step-desc">{{deploy-desc}}</p>
    </div>
    
</div>
