<!-- 









    ------------------------------------------------------------
    Disclaimer Regarding Modification of Affiliate Program Terms
    ------------------------------------------------------------


    Note: It is important to understand that any modifications or alterations made to the terms of the WPSmartContracts Affiliate Program without prior written consent from the Company will be considered a violation of the agreement. Participants are required to adhere to the original terms as provided. Any unauthorized modifications may result in termination of the affiliate program agreement.









































-->
<div class="wpsc-tos">
    <p><strong>Terms of Use - WPSmartContracts Affiliate Program</strong></p>
    <p></p>
    <p>Please read these Terms of Use ("Terms") carefully before participating in the WPSmartContracts Affiliate Program ("Program"). By joining the Program, you agree to comply with these Terms and any additional terms and conditions provided by WP Smart Contracts ("Company"). If you do not agree with these Terms, please do not participate in the Program.</p>
    <p></p>
    <p>1. Eligibility:</p>
    <p>1.1. The Program is open to individuals who are at least 18 years old and have the legal capacity to enter into a binding agreement.</p>
    <p>1.2. Participants must have an active website utilizing the WordPress platform and have installed the latest version of the WordPress plugin WPSmartContracts.</p>
    <p></p>
    <p>2. Program Description:</p>
    <p>2.1. The Program allows participants to generate cryptocurrency income by referring customers to WP Smart Contracts.</p>
    <p>2.2. Participants will receive a commission of 40% on the revenue generated through their referrals.</p>
    <p>2.3. Commissions are earned when a user deploys a new smart contract through the frontend launcher of WP Smart Contracts on any supported blockchain network, using the participant's website and properly configured wallet settings. Commissions do not apply to deployments done in the backend (wp-admin area) of WordPress.</p>
    <p></p>
    <p>3. Enrollment and Participation:</p>
    <p>3.1. To join the Program, participants must install the WP Smart Contracts plugin on their WordPress website and set up their wallet to receive funds.</p>
    <p>3.2. Participants are responsible for ensuring the accuracy of their referral links and tracking their referrals.</p>
    <p>3.3. Participants must comply with all applicable laws and regulations while promoting WP Smart Contracts.</p>
    <p></p>
    <p>4. Commission Payments:</p>
    <p>4.1. Commissions will be distributed automatically by the factory smart contracts at the moment of smart contract deployment on the blockchain.</p>
    <p>4.2. The Company will make reasonable efforts to ensure prompt commission distribution. However, participants acknowledge and agree that once commissions are distributed, they are irreversible and irrevocable due to the nature of blockchain transactions.</p>
    <p></p>
    <p>5. Promotion and Marketing:</p>
    <p>5.1. Participants may promote WP Smart Contracts using approved marketing materials provided by the Company.</p>
    <p>5.2. Participants are prohibited from engaging in any deceptive, misleading, or unethical marketing practices.</p>
    <p>5.3. Participants may not promote WP Smart Contracts on websites or platforms that violate intellectual property rights, contain illegal content, or promote hate speech, violence, or discrimination.</p>
    <p></p>
    <p>6. Intellectual Property:</p>
    <p>6.1. Participants acknowledge that WP Smart Contracts and its associated trademarks, logos, and materials are the sole property of the Company.</p>
    <p>6.2. Participants may use the approved marketing materials provided by the Company solely for the purpose of promoting WP Smart Contracts as part of the Program.</p>
    <p></p>
    <p>7. Term and Termination:</p>
    <p>7.1. These Terms will remain in effect until terminated by either party.</p>
    <p>7.2. The Company reserves the right to suspend or terminate a participant's participation in the Program at any time for any reason, including but not limited to violations of these Terms or engaging in fraudulent activities.</p>
    <p></p>
    <p>8. Limitation of Liability:</p>
    <p>8.1. Participants agree that the Company shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or related to the Program.</p>
    <p>8.2. The Company is not responsible for any interruptions or errors in the availability or functionality of the affiliate program or its associated services.</p>
    <p>8.3. The Company is not responsible for the content, actions, or functionality of any third-party websites or services promoted or linked to by participants.</p>
    <p>8.4. The Company is not liable for any loss or damage to participant data, information, or earnings that may occur as a result of using the affiliate program or associated services.</p>
    <p>8.5. Participants acknowledge that the Company does not provide financial advice and does not guarantee any specific level of earningsor income through the affiliate program.</p>
    <p></p>
    <p>9. Indemnification:</p>
    <p>Participants agree to indemnify and hold the Company harmless from any claims, damages, losses, or liabilities arising out of their participation in the affiliate program or any violations of these Terms.</p>
    <p></p>
    <p>10. Modifications:</p>
    <p>10.1. The Company reserves the right to modify or update these Terms at any time. Participants will be notified of any material changes to these Terms.</p>
    <p>10.2. Continued participation in the Program after the effective date of the modified Terms constitutes acceptance of the modifications.</p>
    <p></p>
    <p>11. Governing Law and Jurisdiction:</p>
    <p>11.1. These Terms shall be governed by and construed in accordance with the laws of Panama City, Panama.</p>
    <p>11.2. Any disputes arising out of or in connection with these Terms shall be subject to the exclusive jurisdiction of the courts of Panama City, Panama.</p>
    <p></p>
    <p>By participating in the WPSmartContracts Affiliate Program, you acknowledge that you have read, understood, and agree to be bound by these Terms.</p>
</div>
