<!-- 








    ------------------------------------------------------------
    Disclaimer Regarding Modification of Terms of Service
    ------------------------------------------------------------


    Note: It is important to understand that any modifications or alterations made to the terms of service of the WPSmartContracts plugin without prior written consent from the Company will be considered a violation of the agreement. Plugin users are required to adhere to the original terms as provided.




































-->
<div class="wpsc-tos">
    This is BETA Software. Use at your own risk!<br/><br/>
    By downloading our plugin from wordpress.org and installing it in your website, you agree to read and accept the regulations that govern the use of our electronic services as well as to use our technology in accordance with the laws of intellectual property, digital assets and any other regulations applicable to the use of our technology, in your country of residence.<br/><br/>
    The user understands that WPSmartContracts.com is a technology company and that its inventions are aimed at generating solutions and welfare for the community, so by making use of our technology platform and all its services the user accepts the following conditions of use.<br/><br/>
    <strong>I. GENERAL CONDITIONS</strong><br/><br/>
    1. By using our technology, the user agrees to make a fair and ethical use of our technology in compliance with the regulations on copyright, intellectual and industrial property of his country of residence.<br/><br/>
    2. The user agrees not to use our technology in contravention of the legal system of his country and/or the digital rights of others.<br/><br/>
    3. You agree to notify WPSmartContracts.com if you identify any bugs and/or vulnerabilities that compromise the security or functionality of our plugin and/or smart contracts to our email: wpsmartcontracts@gmail.com<br/><br/>
    4. The user releases WPSmartContracts.com from all liability for any use of the technology and any effects it may have on third parties.<br/><br/>
    <strong>II. SMART CONTRACTS TERMS OF SERVICE</strong><br/><br/>
    By making use of our smart contracts plugin you agree to:<br/><br/>
    1) Review the plugin and smart contract code before using it under the understanding that once deployed, the operation of the smart contracts are immutable, so you shall use it at your own risk.<br/><br/>
    2) Report any part of the code that you feel is causing a malfunction.<br/><br/>
    3) Use our technology only for lawful purposes in accordance with the laws of your country.<br/><br/>
    4) Not to use our technology in any way in connection with content depicting minors in sexual situations.<br/><br/>
    5) Not to use our technology to mislead the public as to the value, outcome or performance related to our smart contracts.<br/><br/>
    <strong>III. TECHNICAL REQUIREMENTS</strong><br/><br/>
    The user understands that the use of our technology involves compliance with the following technical requirements:<br/><br/>
    Our website provides reasonable help documentation on how to use this plugin, but you should understand that when you interact with any blockchain using our technology, you accept that you have the necessary knowledge and your own technical resources to perform such operations, so you admit that you do so at your own risk.<br/><br/>
    The user accepts that it is his/her sole responsibility to understand and comply with the technical requirements necessary to interact with the platform.<br/><br/>
    WPSmartContracts.com recommends that its users test smart contracts on any available test network before deploying them on the main network. This is a necessary practice to be successful in this kind of venture.<br/><br/>
    If you do not agree with any of our terms, you are prohibited from using this plugin.<br/><br/>
    <strong>IV. PAYMENTS</strong><br/><br/>
    To use this plugin to deploy Smart Contracts on any blockchain, the user understands that sometimes such platforms require the user to pay a fee in some cryptocurrency.<br/><br/>
    Additionally, the user will have to pay a gas fee for the transaction to be processed.<br/><br/>
    The deployment fee is a one-time payment to deploy Smart Contracts on the blockchain using the plugin, so the user understands that it does not include any other services such as support, design or bug fixes to their site.<br/><br/>
    Payments are non-refundable, so the user agrees that they understand the scope of the terms of service before making a payment.<br/><br/>
    Deployment rates are available for viewing on the WPSmartContracts.com website and at the following link: <a href="https://wpsmartcontracts.com/pricing" target="_blank">https://wpsmartcontracts.com/pricing</a><br/><br/>
    <strong>V. SUPPORT</strong><br/><br/>
    The support provided by the website is limited to:<br/><br/>
    * Documentation on the WPSmartContracts.com/docs website.<br/><br/>
    * Free community support on our WordPress website.<br/><br/>
    WPSmartContracts.com offers premium support which can be purchased from the following link: <a href="https://forms.gle/GLbiTTLJNYGoXAa67" target="_blank">https://forms.gle/GLbiTTLJNYGoXAa67</a><br/><br/>
    The premium support fee is 0.3 ether per hour, and it is a non-refundable upfront payment.<br/><br/>
    We reserve the right to accept or decline the request for premium support, so please do not submit any payment for support until you receive confirmation from official WPSmartContracts.com sources.<br/><br/>
    <strong>VI. IRREVERSIBLE TRANSACTIONS</strong><br/><br/>
    The customer understands and accepts the immutability nature of the blockchain on which our technology runs, thus making all payments to the smart contract irreversible.<br/><br/>
    The user also understands and agrees that WPSmartContracts.com has no control over immutability, and therefore has no liability for any action taken by the user resulting in an action that cannot be reversed.<br/><br/>
    WPSmartContracts.com is a technology company whose code allows transactions on different blockchains, so the user understands and accepts that our company is not responsible for failed transactions, high commissions, or slow network response or any other problem that the user may suffer when interacting with the blockchain network.<br/><br/>
    <strong>VII. CODE TRANSPARENCY</strong><br/><br/>
    Users' final contracts will be open source, and their code will be available in a blockchain explorer such as etherscan.io or similar.<br/><br/>
    <strong>VIII. TECHNICAL FUNCTIONING</strong><br/><br/>
    WPSmartContracts.com is a company that seeks excellence in creating its code, and considers it an art that brings benefits to its community. Therefore, we are committed to carry out all technical performance tests of the software before releasing it to the public; however, the program, which consists of a set of code, is offered as it has been developed without any obligation to perform functions or services other than those contained therein. Therefore, the user understands the commitment to have the necessary knowledge to review the code before deploying it on the supported platforms.<br/><br/>
    <strong>IX. DISCLAIMER OF LIABILITY</strong><br/><br/>
    The technology on the WPSmartContracts.com plugin is provided on an "as is" basis and you understand that you use them at your own risk and agree that WPSmartContracts.com makes no warranties, express or implied.<br/><br/>
    You understand that the code provided by our company allows you to make enhancements and changes to the plugin code, which require technical knowledge and that you must test the code before deployment. The result of which is your sole responsibility.<br/><br/>
    Therefore, in no event shall WPSmartContracts.com or its suppliers be liable for any damages of any kind related to the operation of our technology which extends to the unavailability of our site.<br/><br/>
    <strong>X. PRIVACY</strong><br/><br/>
    Our plugin is powered by the information you provide which is hosted on a third-party blockchain, so you understand that you have the respective licenses to upload the information and that for legal purposes you are the data controller.<br/><br/>
    <strong>XI. ABOUT OUR TERMS OF SERVICE AND GOVERNING LAW</strong><br/><br/>
    WPSmartContracts.com may make changes to these terms of service from time to time. When such changes are made, you will be notified via the plugin, so that you can continue to use our technology.<br/><br/>
    These Terms of Use are governed by and construed in accordance with the laws of Costa Rica. Any dispute arising out of these Terms of Use shall be subject to the exclusive jurisdiction of the courts of Costa Rica.<br/><br/>
</div>
