<div class="wps-step-content wps-step-two wps-step-content-active" style="padding-bottom: 33px;">
    <div class="wps-description-box-out-border">
        <div class="wps-description-box">
            {{#icon}}
                <img src="{{icon}}" class="wps-big-icon">
            {{/icon}}
            <h2 class="wps-box-heading">{{text-three-steps}}</h2>
            <p class="wps-box-description">{{text-three-steps-desc}}</p>
            {{#tags}}
                <span class="wps-tag">{{.}}</span>
            {{/tags}}
        </div>
    </div>
</div>
