<div id="wizard-container" class="wps-full-wrapper light-theme">
    <!-- MAIN WRAPPER -->
    <div class="wps-main-wrapper">
        {{{sidebar}}}
        <!-- WPS CONTENT -->
        <div class="wps-content-page">
            {{{main-nav}}}
            <!-- WSP GRID -->
            <div class="wps-dashboard-grid">
                {{{banner-wizard}}}
                <div class="wps-inner-content">
                    <!-- STEPS -->
                    <div class="wps-steps-container">
                        {{{subheader-step2}}}
                        <div class="wps-step-content wps-step-two wps-step-content-active">
                            <p class="wps-step-text">{{choose-flavor-title}}</p>
                            {{{cards}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>