<div id="wizard-container" class="wps-full-wrapper light-theme">
    <!-- MAIN WRAPPER -->
    <div class="wps-main-wrapper">
        {{{sidebar}}}
        <!-- WPS CONTENT -->

        <div class="wps-content-page">

            {{{main-nav}}}

            <!-- WSP GRID -->
            <div class="wps-dashboard-grid">

                {{{banner-wizard}}}

                <div class="wps-inner-content">

                    <!-- STEPS -->
                    <div class="wps-steps-container">

                        <p class="wps-centered">{{banner-wizard-subtitle}}</p>
                        
                        <div class="wps-step-nav">

                            <div class="wps-step-nav-col wps-step-nav-one wps-step-nav-updated wps-hide-mobile">
                                <div class="wps-step-icon">1</div>
                                <h2 class="wps-step-heading">{{what}}</h2>
                                <p class="wps-step-desc" style="font-size: 16px;">{{step1-selected}}</p>
                            </div>
                            
                            <div class="wps-step-nav-col wps-step-nav-one wps-step-nav-updated wps-hide-mobile">
                                <div class="wps-step-icon">2</div>
                                <h2 class="wps-step-heading">{{how}}</h2>
                                <p class="wps-step-desc" style="font-size: 16px;">{{Flavor}}</p>
                            </div>

                            <div class="wps-step-nav-col wps-step-nav-two wps-step-nav-active wps-center-mobile">
                                <div class="wps-step-icon">3</div>
                                <h2 class="wps-step-heading">{{where}}</h2>
                                <p class="wps-step-desc">{{choose-network}}</p>
                            </div>

                            <div class="wps-step-nav-col wps-step-nav-three wps-hide-mobile">
                                <div class="wps-step-icon">4</div>
                                <h2 class="wps-step-heading">{{deploy}}</h2>
                                <p class="wps-step-desc">{{deploy-desc}}</p>
                            </div>
                        
                        </div>

                        <div class="wps-step-content wps-step-two wps-step-content-active">
                            {{^no-networks}}
                                <p id="wps-networks-available-wc" class="wps-step-text">{{available}}</p>
                            {{/no-networks}}
                            {{#no-networks}}
                                <p id="wps-networks-available-wc" class="wps-step-text">{{not-available}}</p>
                            {{/no-networks}}
        
                            {{{cards}}}
                            <div id="wps-unknown-network" style="display: none;">
                                <p>{{not-supported}}</p>
                                {{are-you-sure}}
                            </div>
                        </div>

                        <div class="wps-step-content wps-step-three">{{option}}</div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>