<div class="wps-description-box-out-border wps-description-box-out-border-bottom">
    <div class="wps-description-box medium">
        <img src="{{#page-thumbnail}}{{page-thumbnail}}{{/page-thumbnail}}{{^page-thumbnail}}{{blockie}}{{/page-thumbnail}}"
            class="wps-big-icon medium">
        <h2 class="wps-box-heading">{{{title2}}}</h2>
    </div>
</div>
