<div id="wpsc-stake-container" class="wps-full-wrapper wps-halpage">
    <div class="wps-content-page">
        {{{main-nav}}}
    
        <div class="wps-dashboard-grid">

            {{{coin-view-brand}}}

            {{{msg-box}}}

            {{{view-metamask}}}

            {{{coin-view-token}}}

            <div class="ui hidden divider"></div>

            {{{coin-view-addresses}}}

            {{{coin-view-wallet}}}

            {{{coin-view-dex}}}

            {{{coin-view-block-explorer}}}

            {{{coin-view-audit}}}

            <div class="ui hidden divider"></div>

        </div>
    </div>
</div>
