{{#contract-exists}}
    <div class="wps-main-wrapper">
    <div class="wps-center">
        <span class="wps-tag">
            <span class="wps-tag-value">
                <span style="color: {{color}}; margin-right: 10px">⬤</span>
                {{ethereum-network}}
            </span>
        </span>
        {{{token-info}}}
    </div>
    </div>
{{/contract-exists}}
