<div class="wps-description-box-out-border wps-description-box-out-border-bottom">
    <div class="wps-description-box medium">
        <img src="{{#thumbnail}}{{thumbnail}}{{/thumbnail}}{{^thumbnail}}{{blockie}}{{/thumbnail}}" class="wps-big-icon medium">
        <h2 class="wps-box-heading">{{{title}}}</h2>
    </div>
    <div class="wps-main-wrapper" style="margin-top: 20px;">
        <div class="wps-center">
            <span class="wps-tag">
                <span class="wps-tag-value">  
                    <span style="color: {{color}}; margin-right: 10px">⬤</span> 
                    {{ethereum-network}} 
                </span>
            </span>
            {{{crowd-info}}}
        </div>
	</div>
</div>