<span class="wps-tag">
    <span class="wps-tag-value">  
        <span style="color: {{color}}; margin-right: 10px">⬤</span> 
        {{type}}
    </span>
</span>
<span class="wps-tag">
    <span class="wps-tag-label">{{{approvers_label}}}</span>
    <span class="wps-tag-value">  
        {{factor}}
    </span>
</span>
<span class="wps-tag">
    <span class="wps-tag-label">{{{minimum_label}}}</span>
    <span class="wps-tag-value">  
        {{minimum}} {{coin}}
    </span>
</span>    
