<div id="wps-crowd-view" class="wps-full-wrapper wps-halpage">
	<div class="wps-content-page">
		<div style="padding: 0 10px">
            {{{main-nav}}}
        </div>
		<div class="wps-dashboard-grid">
			{{{msg-box}}}
			{{{view-metamask}}}
			{{{crowd-view-brand}}}
			<div class="ui hidden divider"></div>
			{{{crowd-view-panel}}}
			{{{crowd-view-addresses}}}
			{{{crowd-view-audit}}}
		</div>
	</div>
</div>