<div id=content class=site-content>
    <div class=ui basic container segment wpsc-ico-view>

        <h1>Panel</h1>        

        <p>can_contribute: {{can_contribute}}</p>
        <p>show_raised: {{show_raised}}</p>
        <p>network: {{network}}</p>
        <p>wpsc-contract-address: {{wpsc-contract-address}}</p>
        <p>wpsc-flavor: {{wpsc-flavor}}</p>
        <p>ico-contribute: {{ico-contribute}}</p>
        <p>contribute-tooltip: {{contribute-tooltip}}</p>
        <p>contribute-help: {{contribute-help}}</p>
        <p>what-is: {{what-is}}</p>
        <p>amount-ether: {{amount-ether}}</p>
        <p>send: {{send}}</p>
        <p>cancel: {{cancel}}</p>
        <p>scan: {{scan}}</p>
        <p>beneficiary: {{beneficiary}}</p>
        <p>tx-in-progress: {{tx-in-progress}}</p>
        <p>deploy-icon: {{deploy-icon}}</p>
        <p>click-confirm: {{click-confirm}}</p>
        <p>please-patience: {{please-patience}}</p>
        <p>wpsc_thumbnail: {{wpsc_thumbnail}}</p>
        <p>wpsc_title: {{wpsc_title}}</p>
        <p>wpsc_content: {{wpsc_content}}</p>
        <p>etherscan: {{etherscan}}</p>
        <p>color: {{color}}</p>
        <p>icon: {{icon}}</p>
        <p>network_val: {{network_val}}</p>
        <p>token-name: {{token-name}}</p>
        <p>token-symbol: {{token-symbol}}</p>
        <p>initial-supply: {{initial-supply}}</p>
        <p>rate: {{rate}}</p>
        <p>raised: {{raised}}</p>
        <p>sold: {{sold}}</p>
        <p>hard-cap-reached: {{hard-cap-reached}}</p>
        <p>send-ether: {{send-ether}}</p>
        <p>send-ether-address: {{send-ether-address}}</p>
        <p>copied: {{copied}}</p>
        <p>erc20-wallet: {{erc20-wallet}}</p>
        <p>no-exchange: {{no-exchange}}</p>
        <p>buy-tokens: {{buy-tokens}}</p>
        <p>buy: {{buy}}</p>
        <p>browser-wallet: {{browser-wallet}}</p>
        <p>contribute: {{contribute}}</p>
        <p>text_4: {{text_4}}</p>
        <p>ico-icon: {{ico-icon}}</p>
        <p>wpsc-add-token-to-metamask: {{wpsc-add-token-to-metamask}}</p>
        <p>wpsc_adv_pause: {{wpsc_adv_pause}}</p>
        <p>wpsc_coin_name: {{wpsc_coin_name}}</p>
        <p>wpsc_coin_symbol: {{wpsc_coin_symbol}}</p>
        <p>wpsc_total_supply: {{wpsc_total_supply}}</p>
        <p>wpsc_rate: {{wpsc_rate}}</p>
        <p>wpsc_native_coin: {{wpsc_native_coin}}</p>
        <p>token-address: {{token-address}}</p>
        <p>or: {{or}}</p>
        <p>wpsc_contract_address: {{wpsc_contract_address}}</p>
        <p>wpsc_contract_address_short: {{wpsc_contract_address_short}}</p>
        <p>wpsc_blockie: {{wpsc_blockie}}</p>
        <p>wpsc_blockie_token: {{wpsc_blockie_token}}</p>
        <p>wpsc_token_contract_address: {{wpsc_token_contract_address}}</p>
        <p>wpsc_token_contract_address_short: {{wpsc_token_contract_address_short}}</p>
        <p>wpsc_qr_code: {{wpsc_qr_code}}</p>
        <p>wpsc_token_qr_code: {{wpsc_token_qr_code}}</p>
        <p>block-explorer: {{block-explorer}}</p>
        <p>block-explorer-link: {{block-explorer-link}}</p>
        <p>resume: {{resume}}</p>
        <p>pause: {{pause}}</p>
        <p>is_bubblegum: {{is_bubblegum}}</p>
        <p>tokens-to-sell: {{tokens-to-sell}}</p>
        <p>contract-exists: {{contract-exists}}</p>

    </div>
</div>
