<div id="wpsc-stake-container" class="wps-full-wrapper wps-halpage">
    <div class="wps-content-page">
        <div style="padding: 0 10px">
            {{{main-nav}}}
        </div>
        <div class="wps-dashboard-grid">

            <input type="hidden" id="wpsc-contract-flavor" value="bubblegum">
            <input type="hidden" id="wpsc-contract" value="{{wpsc_contract_address}}">
            <input type="hidden" id="wpsc-network" name="wpsc-nft-network" value="{{network}}">
            <input type="hidden" id="wpsc-ico-token" name="wpsc-ico-token" value="">
            <input type="hidden" id="wpsc-token-symbol" name="wpsc-token-symbol">
            <input type="hidden" id="wpsc-token-name" name="wpsc-token-name">
            <input type="hidden" id="wpsc-token-decimals" name="wpsc-token-decimals">
            <input type="hidden" id="wpsc-native-coin" name="wpsc-native-coin" value="{{wpsc_native_coin}}">
            <input type="hidden" id="wps-remaining-input" name="wps-remaining-input" value="">    
            <input type="hidden" id="wps-rate" name="wps-rate" value="{{rate}}">    
            <input type="hidden" id="wps-etherscan" name="wps-etherscan" value="{{etherscan}}">    

            {{{view-metamask}}}

            <div class="wps-description-box-out-border wps-description-box-out-border-bottom">
                <div class="wps-description-box medium">
                    <img src="{{#page-thumbnail}}{{page-thumbnail}}{{/page-thumbnail}}{{^page-thumbnail}}{{wpsc_blockie}}{{/page-thumbnail}}" class="wps-big-icon medium">
                    <h2 class="wps-box-heading">{{{wpsc_title}}}</h2>
                </div>
            </div>
            {{{wpsc_content}}}
            <div id="wpsc-generic-message"></div>

            {{^hide-brand}}
                <div class="wps-main-wrapper" style="margin-top: 20px;">
                    <div class="wps-center">
                        <span class="wps-tag">
                            <span class="wps-tag-value">
                                <span style="color: {{color}}; margin-right: 10px">⬤</span>
                                {{network_val}}
                            </span>
                        </span>
                        <span class="wps-tag">
                            <span class="wps-tag-value">
                                <span class="wps-bg-{{flavor-color}} color">⬤</span>
                                {{wpsc-flavor}}
                            </span>
                        </span>
                        <div class="wps-tag extra content">
                            <div class="ui labels">
                                <div class="ui image label">
                                    <img src="{{wpsc_blockie}}">
                                    {{smart-contract-label}}
                                    <div class="detail">
                                        <a href="{{etherscan}}address/{{wpsc_contract_address}}"
                                            target="_blank">{{wpsc_contract_address_short}}</a>
                                        <i class="copy icon"
                                            onclick="copyToClipboard('{{wpsc_contract_address}}', 'wpsc-nft-collection-contract')"></i>
                                        <span id="wpsc-nft-collection-contract"></span><span
                                            id="wpsc-copy-msg-wpsc-nft-collection-contract"
                                            style="display: none;">{{copied}}</span><span
                                            id="wpsc-copy-msg-wpsc-nft-collection-contract"
                                            style="display: none;">{{copied}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/hide-brand}}

            <div class="ui hidden divider"></div>

            <div class="wps-main-wrapper" id="wpsc-crowd-panel" style="display: block">
                <h3 class="wps-colBox-title-lg">
                    💼 &nbsp; {{ico-label}}
                </h3>

                <div class="ui hidden divider"></div>

                <div id="wpsc-requests-container" class="wps-cards">

                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{rate-label}}</p>
                                        <div class="wps-tag extra content center">
                                            <div id="wps-rate-detail" class="ui image label"></div>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{token-for-sale}}</p>
                                        <div class="wps-tag extra content center">
                                            <div class="ui image label" id="wpscContractAddressDiv">
                                                <a id="wpsc_token_link" href="" target="_blank"></a>
                                                <img id="wpsc-add-to-metamask" src="{{fox}}" class="ui mini image"
                                                    data-address="" data-symbol="" data-name=""
                                                    title="Add token to Metamask" data-network="{{network_val}}"
                                                    data-decimals="">
                                                <span id="wpsc-nft-collection-contract-2"></span>
                                            </div>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{remaining-tokens}}</p>
                                        <div class="wps-tag extra content center">
                                            <div id="wps-remaining" class="ui image label"></div>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="raised-panel" class="wps-panel-aaa wps-cards-2 wps-huge" style="display:none">
                    <div class="wps-smartContracts-table card wps-table wps-card">
                        <div class="wps-top-spacer"></div>
                        <h3 class="wps-colBox-title-lg">
                            📈 &nbsp; {{raised-label}}
                        </h3>
                        <div class="wps-top-spacer"></div>
                        <div class="wps-tag extra content center">
                            <div class="ui image label">
                                <div class="detail" id="wpsc-raised"></div>
                            </div>    
                        </div>
                    </div>
                    <div class="wps-smartContracts-table card wps-table wps-card">
                        <div class="wps-top-spacer"></div>
                        <h3 class="wps-colBox-title-lg">
                            🚀 &nbsp; {{sold-label}}
                        </h3>
                        <div class="wps-top-spacer"></div>
                        <div class="wps-tag extra content center">
                            <div class="ui image label">
                                <div class="detail" id="wpsc-sold"></div>
                            </div>    
                        </div>
                        <div class="wps-spacer"></div>
                    </div>
                </div>

                <div class="ui hidden divider"></div>

                <h3 class="wps-colBox-title-lg wpsc-admin-only" style="display: none;">
                    🔧 &nbsp; {{admin-label}}
                </h3>

                <div class="wps-cards wpsc-admin-only" style="display: none;">

                    <div class="wps-card approver-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{approved-funds}}</p>
                                        <div class="wps-tag extra content">
                                            <div class="ui image label">
                                                <div class="detail" id="wpsc-approved-funds"></div>
                                            </div>
                                        </div>
                                        <div class="wps-top-spacer"></div>
                                        <div class="wps-tag" style="background-image: none;border: 0;">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center wpsc-modal-button" id="wpsc-approve-button">{{approve}}</a>
                                        </div>
                                        <div class="ui hidden divider"></div>                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card owner-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{pause-resume-label}}</p>
                                        <p style="margin: 10px">{{pause-resume-desc}}</p>
                                        <div id="pause-button" class="wps-tag" style="background-image: none;border: 0; display:none">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-pause-button" data-modal="wpsc-pause-modal">{{pause}}</a>
                                        </div>
                                        <div id="resume-button" class="wps-tag" style="background-image: none;border: 0; display:none">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-resume-button" data-modal="wpsc-resume-modal">{{resume}}</a>
                                        </div>
                                        <div class="ui hidden divider"></div>                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card owner-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{wallet}}</p>
                                        <input id="input-wallet" name="input-wallet" type="text" value="{{wpsc_wallet}}">
                                        <div class="ui hidden divider"></div>
                                        <div id="resume-button" class="wps-tag" style="background-image: none;border: 0">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-update-wallet">{{update}}</a>
                                        </div>
                                        <div id="wpsc-update-wallet-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card owner-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{dist-wallet}}</p>
                                        <input id="input-dist-wallet" name="input-dist-wallet" type="text" value="{{wpsc_dist_wallet}}">
                                        <div class="ui hidden divider"></div>
                                        <div id="resume-button" class="wps-tag" style="background-image: none;border: 0">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-update-dist-wallet">{{update}}</a>
                                        </div>
                                        <div id="wpsc-update-dist-wallet-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card owner-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{token-for-sale}}</p>
                                        <input id="input-token" name="input-token" type="text">
                                        <div class="ui hidden divider"></div>
                                        <div id="update-token-button" class="wps-tag" style="background-image: none;border: 0; display:none">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-update-token">{{update}}</a>
                                        </div>
                                        <div id="wpsc-update-token-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card owner-only" style="display: none;">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{rate-label}}</p>
                                        <input id="input-rate" name="input-rate" type="number">
                                        <div class="ui hidden divider"></div>
                                        <div id="update-rate-button" class="wps-tag" style="background-image: none;border: 0; display:none">
                                            <a href="javascript:void(0);" class="wps-cta wps-secondary wps-center" id="wpsc-update-rate" data-modal="wpsc-resume-modal">{{update}}</a>
                                        </div>
                                        <div id="wpsc-update-rate-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="wpsc-contributions-container" class="wps-cards-2" style="display:none">
                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{send-ether}}</p>
                                        <p style="margin: 10px;">{{send-ether-address}}</p>
                                        <div id="wpsc-contribution-div" class="wps-tag extra content center">
                                            <div class="ui image label" id="wpscContractAddressDiv">
                                                <i class="copy icon" onclick="copyToClipboard('{{wpsc_contract_address}}', 'wpsc-nft-collection-contract-3')"></i>
                                                <a href="{{etherscan}}address/{{wpsc_contract_address}}" target="_blank">
                                                    {{wpsc_contract_address}}
                                                </a>
                                                <span id="wpsc-nft-collection-contract-3"></span>
                                            </div>
                                        </div>
                                        <div class="wps-top-spacer"></div>
                                        <p class="wps-mini-text">ℹ️ &nbsp; {{erc20-wallet}}</p>
                                        <div class="wps-top-spacer"></div>
                                        <p class="wps-mini-text">⚠️ &nbsp; {{send-only-ether}}</p>
                                        <div class="wps-top-spacer"></div>
                                        <p class="wps-mini-text">⚠️ &nbsp; {{no-exchange}}</p>
                                        <div class="ui hidden divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wps-card wps-big">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card">
                                        <p class="wps-title-link">{{buy-tokens}}</p>
                                        <p style="margin: 10px">{{buy-desc}}</p>
                                        <div class="wps-top-spacer"></div>
                                        <a id="buy-tokens" href="javascript:void(0);" class="wps-cta wps-center" data-modal="wpsc-contribute-modal"><span>{{buy}}</span></a>
                                        <div class="wps-spacer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="wpsc-no-contributions" class="wps-cards-2" style="display:none">
                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <p class="wps-title-link">{{no-contributions}}</p>
                                        <div class="wps-top-spacer"></div>
                                        <p>⚠️ &nbsp; {{no-contributions-detail}}</p>
                                        <div class="wps-spacer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="wpsc-pause-alert" class="wps-cards-2" style="display:none">
                    <div class="wps-card">
                        <div class="wps-panel-aaa">
                            <div class="wps-panel wps-panel-content">
                                <div class="wps-column-box wps-column-box-inner" style="margin-top: 0">
                                    <div class="wps-smartContracts-table card wps-table">
                                        <div class="wps-top-spacer"></div>
                                        <p>⚠️ &nbsp; {{pause-alert-detail}}</p>
                                        <div class="wps-spacer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div id="wpsc-contribute-modal" class="ui basic modal">

    <div class="ui center aligned inverted segment">

        <h3 class="ui header">
            <img class="ui mini image" src="{{ico-contribute}}">
            {{{buy-tokens}}}
        </h3>

        <p>{{{contribute-tooltip}}}</p>

        <div id="wpsc-contribute-form">

            <div class="ui fluid action input">
                <input name="wpsc-beneficiary" type="text" placeholder="{{{beneficiary}}}" class="wpsc-validate-address">
                <button class="ui right labeled icon button wpsc-open-qr-scanner" data-input-name="wpsc-beneficiary">
                    <i class="qrcode icon"></i>{{{scan}}}
                </button>
            </div>

            <div class="ui inverted accordion field">
                <div class="ui left aligned inverted mini segment">
                    <div class="title">
                        <i class="icon dropdown"></i>
                        {{{what-is}}}
                    </div>
                    <div class="content field">
                        <label class="transition hidden">{{{contribute-help}}}</label>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="ui fluid action input">
                <input name="wpsc-crowd-contribute-amount" type="text" value="" placeholder="{{{amount-ether}}}">
                <button class="ui teal right labeled icon button" id="wpsc-crowd-contribute">
                    <i class="paper plane icon"></i>{{{send}}}
                </button>
            </div>

        </div>

        <div id="wpsc-crowd-contribute-to-account-message"></div>


        <div class="ui hidden divider"></div>

        <div class="actions">
            <div id="wpsc-crowd-contribute-cancel-button" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                {{{cancel}}}
            </div>
        </div>

        <div id="wpsc-contribute-progress-contribute" class="ui icon black message hidden">
            <div class="content">
                <div class="header">
                    {{{tx-in-progress}}}
                </div>
                <p class="wpsc-small">
                    <img class="ui mini left floated image" src="{{deploy-icon}}">
                    {{{click-confirm}}} {{{please-patience}}}
                </p>
            </div>
        </div>


    </div>

</div>

<div id="wpsc-approve-modal" class="ui basic modal">
    <div class="ui center aligned inverted segment">
        <h3 class="ui header">
            <i class="suitcase icon"></i>
            {{stake}}
        </h3>
        <p>{{approve-funds-ico}}</p>
        <div id="wpsc-stake-approve-form">
            <div class="ui fluid action input">
                <input name="wpsc-approve-amount" type="text" value="" placeholder="Amount to approve">
                <button class="ui teal right labeled icon button" id="wpsc-approve-stake">
                    <i class="check icon"></i>{{approve}}
                </button>
            </div>

            <div class="ui hidden divider"></div>

            <p>{{approve-msg-1}}</p>
            <p>{{approve-msg-2}}</p>
            <p>{{approve-msg-3}}</p>

            <div id="wpsc-stake-message"></div>

        </div>

        <div class="ui hidden divider"></div>

        <div id="wpsc-stake-approve-message"></div>

        <div class="actions">
            <div id="wpsc-approve-cancel-button" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                {{{cancel}}}
            </div>
        </div>
        <div id="wpsc-approve-progress" class="ui icon black message hidden">
            <div class="content">
                <div class="header">
                    {{{tx-in-progress}}}
                </div>
                <p class="wpsc-small">
                    <img class="ui mini left floated image" src="{{deploy-icon}}">
                    {{{click-confirm}}} {{{please-patience}}}
                </p>
            </div>
        </div>
    </div>
</div>

<div id="wpsc-pause-modal" class="ui basic modal">

    <div class="ui center aligned inverted segment">

        <h3 class="ui header">
            <i class="pause circle outline icon"></i>
            {{{pause}}}
        </h3>

        <p>{{{pause-tooltip}}}</p>

        <div id="wpsc-pause-form">

            <div id="wpsc-wallet-pause-message"></div>

            <div class="ui input">
                <button class="ui teal right labeled icon button" id="wpsc-pause">
                    <i class="pause circle outline icon"></i>{{{pause}}}
                </button>
            </div>

        </div>

        <div class="ui hidden divider"></div>

        <div class="actions">
            <div id="wpsc-wallet-pause-cancel-button" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                {{{cancel}}}
            </div>
        </div>

        <div id="wpsc-progress-pause" class="ui icon black message hidden">
            <div class="content">
                <div class="header">
                    {{{tx-in-progress}}}
                </div>
                <p class="wpsc-small">
                    <img class="ui mini left floated image" src="{{deploy-icon}}">
                    {{{click-confirm}}} {{{please-patience}}}
                </p>
            </div>
        </div>


    </div>

</div>

<div id="wpsc-resume-modal" class="ui basic modal">

    <div class="ui center aligned inverted segment">

        <h3 class="ui header">
            <i class="play circle outline icon"></i>
            {{{resume}}}
        </h3>

        <p>{{{resume-tooltip}}}</p>

        <div id="wpsc-resume-form">

            <div id="wpsc-wallet-resume-message"></div>

            <div class="ui input">
                <button class="ui teal right labeled icon button" id="wpsc-resume">
                    <i class="play circle outline icon"></i>{{{resume}}}
                </button>
            </div>

        </div>

        <div class="ui hidden divider"></div>

        <div class="actions">
            <div id="wpsc-wallet-resume-cancel-button" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                {{{cancel}}}
            </div>
        </div>

        <div id="wpsc-progress-resume" class="ui icon black message hidden">
            <div class="content">
                <div class="header">
                    {{{tx-in-progress}}}
                </div>
                <p class="wpsc-small">
                    <img class="ui mini left floated image" src="{{deploy-icon}}">
                    {{{click-confirm}}} {{{please-patience}}}
                </p>
            </div>
        </div>


    </div>

</div>

