<div class="wps-tag">
    <div class="ui image label">
        <img src="{{user_blockie}}">
        <a href="{{user_link}}" target="_blank">{{user_short}}</a>
        <div class="detail">
            <a href="{{tx_link}}" target="_blank">TxId {{tx_short}}</a>
        </div>
    </div>
    <div class="detail">
        {{label}}
    </div>
</div>
