<span class="wps-tag">
    <span id="wpsc-nft-my-account-short" class="wps-tag-label">{{symbol}}</span>
    <span class="wps-tag-value">
        <a href="{{etherscan}}" target="_blank">
            {{short}}
        </a>
    </span>
</span>
