<div class="ui stackable menu">
    <div class="item wpsc-nft-hide-no-account">
        <span class="wps-tag">
            <span id="wpsc-nft-my-account-short" class="wps-tag-label"></span>
            <span class="wps-tag-value">
                <span id="wpsc-nft-my-account-balance"></span>
            </span>
        </span>
    </div>
    <div id="wpsc-menu-payment-token" style="display: none;" class="item">
    </div>
    <a href="{{my-items-link}}" class="{{#my-items}}active{{/my-items}} item wpsc-nft-hide-no-account">
        <i class="ui circle icon"></i>
        {{my-items}}
    </a>
    <div class="right menu">
        {{#edit-link}}
        <a id="wpsc-edit-nft" href="{{edit-link}}" class="{{#edit}}active{{/edit}} item" style="display: none;">{{edit-label}}</a>
        {{/edit-link}}
        <a id="wpsc-nft-mint-button" href="{{mint-link}}" class="wps-cta">
            {{mint-a-new-item}}
        </a>
    </div>
</div>