<div class="wps-description-box-out-border wps-description-box-out-border-bottom">
  <div class="wps-description-box medium">
      <img src="{{avatar}}" class="wps-big-icon medium">
      <h2 class="wps-box-heading">@{{{display_name}}}</h2>
      <p class="wps-box-description">{{{description}}}</p>
  </div>
</div>
